/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-loading .slick-list {
  background: #fff url("./../icon/ajax-loader.gif") center center no-repeat;
}

.slick-slider {
  margin-bottom: 30px;
  transform: scale(1.05);
}
.slick-slider article {
  position: relative;
  height: 30em !important;
  background: #ed2f2f;
  border: 2px solid #ed2f2f;
  border-radius: 4px;
  overflow: hidden;
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
@media (max-width: 480px) {
  .slick-slider article {
    height: 332px !important;
  }
}
.slick-slider article picture img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease;
}
@media (max-width: 1280px) {
  .slick-slider article picture img {
    min-width: 90%;
    min-height: 90%;
  }
}
@media (max-width: 980px) {
  .slick-slider article picture img {
    height: 100%;
  }
}
.slick-slider article a {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.slick-slider article a:visited, .slick-slider article a:hover {
  color: white !important;
}
.slick-slider article:hover {
  transform: scale(1);
  transition: transform 0.5s ease;
}
@media (max-width: 736px) {
  .slick-slider article:hover {
    transform: scale(0.9);
  }
}
.slick-slider article:hover img {
  opacity: 0.35;
  transition: opacity 0.5s ease;
}
@media (max-width: 736px) {
  .slick-slider article:hover img {
    opacity: 1;
  }
}
.slick-slider .slick-prev, .slick-slider .slick-next {
  display: block;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translate(0, -50%);
  height: 90%;
  width: 40px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
}
.slick-slider .slick-prev:before, .slick-slider .slick-next:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 40px;
  height: 40px;
  color: white;
  opacity: 0.25;
  transition: opacity 0.5s ease;
}
.slick-slider .slick-prev:hover, .slick-slider .slick-prev:focus, .slick-slider .slick-next:hover, .slick-slider .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-slider .slick-prev:hover:before, .slick-slider .slick-prev:focus:before, .slick-slider .slick-next:hover:before, .slick-slider .slick-next:focus:before {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.slick-slider .slick-prev {
  left: 0;
}
.slick-slider .slick-prev:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") no-repeat center center;
}
.slick-slider .slick-next {
  right: 0;
}
.slick-slider .slick-next:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") no-repeat center center;
}

#header {
  padding: 0;
}
@media (max-width: 736px) {
  #header {
    padding-bottom: 0.5em;
  }
}
#header .logo {
  margin-bottom: 0;
}
#header nav {
  top: 1.4em;
}
#header nav ul li a {
  background: none;
}
#header nav ul li a[href="#menu"]:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23FFFFFF%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
  opacity: 0.75;
}
#header nav ul li a[href="#menu"]:hover:after {
  opacity: 0.25;
}

#menu > .close {
  top: 1.3em;
}

#main {
  min-height: calc(100vh - 280px);
}
#main > div > iframe {
  width: 100% !important;
}

#footer {
  padding-top: 3em;
}
#footer > .inner {
  padding-top: 0;
  padding-bottom: 0;
}

.style5 .content {
  border-top: 1px solid white;
  margin-top: 0.2em;
  padding-top: 0.5em;
}
.style5 p {
  margin-bottom: 0.2em;
}

.inner {
  top: 0 !important;
}

@media screen and (max-width: 735px) {
  #wrapper > * > .inner {
    top: 0px !important;
  }
}
@media screen and (max-width: 736px) {
  #main {
    padding-bottom: 2em;
  }

  #wrapper > * > .inner {
    padding: 2em 2.5em !important;
  }
}
.tiles2 {
  margin-bottom: 2em;
}

.grid-container {
  width: 100%;
  max-width: 68em;
  margin: 0 auto 3em auto;
  grid-column-gap: 0;
  grid-row-gap: 2em;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  padding-right: 2em;
  padding-left: 2em;
}
@media (max-width: 736px) {
  .grid-container {
    grid-template-columns: auto auto auto;
  }
}
.grid-container .grid-item {
  max-width: 50%;
  max-height: 9vh;
}

.grid-container .grid-item {
  width: 100%;
  max-width: none !important;
  max-height: none !important;
  opacity: 0.5;
}

.home-inner {
  padding: 2em 2.5em 1em 2em !important;
}

.home-content {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.home-content p:last-child {
  margin-bottom: 0;
}

.about-inner .content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 736px) {
  .about-inner .content {
    width: 100%;
  }
}

.main-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: rgba(0, 0, 0, 0.75);
  padding: 0 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.main-header .logo > * {
  display: inline-block;
  vertical-align: middle;
}
.main-header .title-img {
  height: 1.5em;
  margin-left: 0.5em;
}
.main-header .symbol {
  margin-right: 0.65em;
}
.main-header .symbol img {
  display: block;
  width: 2em;
  height: 2em;
}
.main-header a, .main-header a:visited {
  color: #fff;
}
.main-header a:hover {
  color: #999 !important;
}
.main-header nav {
  display: none;
  margin-left: auto;
}
@media (max-width: 736px) {
  .main-header nav {
    display: block;
  }
}
.main-header nav a[href="#menu"] {
  display: block;
  width: 2em;
  height: 1.5em;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}
.main-header nav a[href="#menu"]:hover {
  opacity: 0.35;
  transition: opacity 0.5s ease;
}
.main-header nav a[href="#menu"] img {
  width: 100%;
}
.main-header ul {
  margin: 0;
  margin-left: auto;
  padding: 0;
}
@media (max-width: 736px) {
  .main-header ul {
    display: none;
  }
}
.main-header ul li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
}

body {
  padding-top: 94px;
}

* + .tiles2 {
  margin-top: 0;
}

.inner > header.pull-up-60 {
  top: -35px;
}
.inner > header p {
  width: 80%;
  margin: 10px auto 0 auto;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", Helvetica, sans-serif !important;
  font-weight: nomal;
}

#footer-2 ul.icons {
  margin: -0.2em 0 2em -1em;
}

/*# sourceMappingURL=style.css.map */
